{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '../static/style.css' %}">
    <meta name="viewport" content="width=device-width">
    {% block css %}{% endblock %}
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

<div class="dateblock3">
    <div class="dateblock2">
        <div class="day" id="currentDay"></div>
        <div class="dateblock">
            <div class="dateblock2">
                <div class="text2" id="currentMonth"></div>
                <div class="text2" id="currentYear"></div>
            </div>
            <div class="text2" id="currentDayOfWeek"></div>
        </div>
    </div>
</div>
<script>
  var yearElement = document.getElementById('currentYear');
  var monthElement = document.getElementById('currentMonth');
  var dayElement = document.getElementById('currentDay');
  var dayOfWeekElement = document.getElementById('currentDayOfWeek');

  setInterval(function () {
    var currentDate = new Date();

    var year = currentDate.getFullYear();
    var month = currentDate.toLocaleString('ru-RU', { month: 'long' });
    var day = currentDate.getDate();
    var dayOfWeek = currentDate.toLocaleString('ru-RU', { weekday: 'long' });

    yearElement.textContent = year;
    monthElement.textContent = month;
    dayElement.textContent = day;
    dayOfWeekElement.textContent = dayOfWeek;
  }, 1000);
</script>
    <div class="block">
    <div class="section">
        <div class="inline-container">
        <button class="arrow-btn" onclick="window.location='http://localhost:8000/test/test2/'"><div class="button_text">Утро</div></button>
        <button class="arrow-btn" onclick="window.location='http://localhost:8000/test/day/'"><div class="button_text">День</div></button>
        <button class="arrow-btn" onclick="window.location='http://localhost:8000/test/evening/'"><div class="button_text">Вечер</div></button>
        <button class="arrow-btn" onclick="window.location='http://localhost:8000/test/night/'"><div class="button_text">Ночь</div></button>
        </div>
    </div>
    </div>
    <div class="grid">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
